
/* Medlem.html */
/* kategori.html */









/* kategori.html */

.showCat  {
    margin-top: 45px;
    margin-bottom: 60px;    
}
h2#catHeader {
    font-family: "Knockout 28 A", "Knockout 28 B";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
}

/* END - CATEGORY PAGE */












/* MODUL 2 */

.artPurple {
    color: white;
}
.artPurple #content {
    color: white;
}

/* END MODUL 2 */







/* END - FOOTER */



/* BIG ARTICLE */
.longArtBox .magText{
    margin-top : 0;
}

ul.list-inline {
    margin-left: 0;
    margin-top: 30px;
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 700;    
}
ul.list-inline li p {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 400;
}
    /* SOSIAL BUTTON */
    .sosialBox {
        height: 75px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .sosialBox img {
        margin: auto;
        height: 45px;
        padding: 8px 8px 12px 8px;
    }
    /* END - SOSIAL BUTTON */


.vedlegg {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;

    background-clip: content-box;
    background-color: #F6F6F6 ;
}
.vedlegg img {
    height: 45px;
}
.vedlegg-img {
    padding: 15px;
}
#vedlegg-file {
    font-family: "Knockout 28 A", "Knockout 28 B";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #364962;
    margin-top: 20px;
} 

.oppsumering {
    background-color: #FDE9C4;
    background-clip: content-box;
}
.oppsumering-text {
    padding: 30px;
}
.oppsumering ul#bullets {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    line-height: 25px;
}


.fullw-img {
    margin-top: 60px;
    margin-bottom: 60px;
}
.fullw-img img {
    background-repeat: no-repeat;
    background-size: cover;
}

.modul-1 {
    margin-top: 30px;
    margin-bottom: 30px;  
}

h5#quote {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 300; 
    font-size: 20px;
    line-height: 28px;   
}
p#quote-person {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 400;
    color: #00577D;
    font-size : 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.quote-img img {
    object-fit: cover;    
}
p#img-text-right {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #00577D ;
}


.custom-image {
    position: absolute;
    z-index: 10000;
}
.custom-image img {
    object-fit: cover;  
    padding-top: 60px;
    padding-bottom: 230px;
    height: 1000px;
    width: 500px;
}

/* END - BIG ARTICLE */

